<p>
  movie-detail works!
</p>
<div class="container">
  <div class="row featurette">
      <div class="col-md-6 order-md-1">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Synopsis</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Cast</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Crew</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">In the aftermath of the civil war that tore The Avengers apart, Scott Lang is struggling to come to terms with his responsibilities as a superhero and a father. As he grapples with these problems, Dr. Hank Pym and Hope van Dyne come calling with a with yet another mission. With van Dyne by his side as The Wasp, Ant-Man takes on the assignment in a bid to unravel certain secrets from his past. </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Information about Cast and Actors will come here</div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Information about Crew and Directors will come here</div>
        </div>
      </div>
      <div class="col-md-6 order-md-2">
        <!-- <img class="featurette-image img-fluid mx-auto" alt="500x500" style="width: 500px; height: 500px;" src="../../../assets/images/movies/thumb/thumb_2.jpg"> -->
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UUkn-enk2RU" allowfullscreen></iframe>
        </div>
      </div>
  </div>
  <hr>
<app-theater></app-theater>
  <!-- <div class="row mb-2">      
      <div class="col-md-6">
          <ul class="list-group">
              <li class="list-group-item" *ngFor="let theater of theaters">{{theater.name}}</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
          </ul>            
      </div>
      <div class="col-md-6">
          <ul class="list-group">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>            
      </div>
  </div> -->
